
body{
    margin: 0;
    background-image: url(../images/top-view-orange-cake-slice-sweet-delicious-tasty-cream-colored-wooden-desk-yellow-background-sweet-sugar-biscuit.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

nav{
    display: flex;
    align-items: center;
    justify-content:center;
    background:linear-gradient(#fab66c, #fe925c, 	#ff8f50)
}

nav a{
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 10px; 
    color:black;
}

nav .button{
    display:block;
    margin: 10px;
    padding:5px;
    background-color: #ffd4aa;
    border-radius: 10px;
}

nav .logo img{
    display: inline-block;
    height: 35px;
    width: 35px;
}

nav .logo{
    position: absolute;
    left: 20px;
}

nav .button:hover{
    background-color: #ffe9d3;
}

#maintext{
    margin-left: 15px;
    color:black;
}

.cards{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 20px;
    padding:20px;
    background-color: white;
    width: 380px;
    height: 490px;
    box-shadow: 10px 10px 10px 	#ff8f50;
    border-radius: 10px;
    background: linear-gradient(#fdc083, #fab66c, 	#ff8f50)
}

.container {
   display: flex;
   flex-direction: row;
   gap:20px;
}

.images{
    display: block;
    height: 300px;
    width: 375px;
    padding: 5px;
}

.images:hover{
    border:inset salmon 7px;
}

.cards a{
    text-decoration: none;
    color:black;
    text-align: center;
}

.cards p{
    font-size: 14px;
}

#extra{
    text-align: center;
    font-size: 12px;
}

#maintext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
}

#sidetext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35px;
}

#sideheader{
    margin-left: 35px;
}


.fas.fa-envelope{
    margin-top: 20px;
    margin-left: 35px;
}

.fa-brands.fa-tiktok{
    margin-top: 20px;
    margin-left: 35px;
    color:black
}

.fa-brands.fa-threads{
    margin-top: 20px;
    margin-left: 35px;
    color:black
}

.fa-brands.fa-facebook{
    margin-top: 20px;
    margin-left: 35px;
    color:black
}

.fa-brands.fa-instagram{
    margin-top: 20px;
    margin-left: 35px;
    color:black
}

a{
    text-decoration: none;
}
