body{
    background: linear-gradient(#fdf3f6, #fdf2f5, #fadbe2
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20px;
    padding: 15px;
}



#counter{
    display: block;
    text-align: center;
    font-size: 50px;
    color: #cf6a84;
    margin-bottom: 20px;
}

#container{
   text-align: center;
}

.buttons{
    padding: 15px 20px;
    font-size: 20px;
    color:#f3aebf;
    background-color: #FDF1F4;
    border: 3px solid #f7c4d1;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: #fadbe2;
}