body{
   text-align: center;
   background: linear-gradient(#fff9eb, #fff5de, #fcebcf);
   background-attachment: fixed;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #8f6460;
}

#container{
    background-color: #ffcac3;
    border-radius: 20px;
    max-width: 500px;
    align-items: center;
    margin: auto;
    border: 3px inset #8f6460;
}

#size{
    text-align: center;
}

button{
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px inset #A5837F;
    background-color:#ffe0d9;
    color:#8f6460;
    transition: background-color 0.25s;
}

button:hover{
    background-color: #ffe9e4;
}

button:active{
    background-color: #fef0ec;
}

#result {
    overflow-wrap: break-word; 
    text-align: center;
    margin: 10px;
    padding: 10px;

}